body {
    color: #333;
    background-color: #fff;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: inline-block;
    z-index: 3;
}

.temp {
    font-style: italic;
    margin: 0;
    text-align: right;
}

.ambient {
    color: red;
    padding-left: 1em;
}

.fermentor {
    color: green;
    padding-left: 1em;
}

.title {
    width: 25%;
    float: left;
    text-transform: uppercase;
    margin: 0;
    z-index: 3;
    font-size: 1.1em
}

.temp {
    width: 75%;
    float: right;
}

img {
    height: 95%;
    width: auto;
    z-index: 1;
}
