h1 {
  color: #888;
  font-size: 1.3125em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.125em;
}

.header {
  width: 100%;
  display: inline-block;
  z-index: 3;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  position: relative;
}

.content {
  background: #ffffff;
  bottom: 0;
  height: auto;
  right: 0;
  width: 100%;
}

img {
  height: auto;
  width: 100%;
  z-index: 1;
}

h1.title {
  background: #000;
  color: white;
  bottom: 0;
  position: absolute;
  padding: 0.5em 1em;
  right: 0;
}

h2.title {
  margin-top: 0;
}

.block {
  display: inline-block;
  margin: 0 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ambient {
  color: red;
}

.fermentor {
  color: green;
}
